.widefat, .nav-tab-wrapper, .widefatbox{
    width: 700px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto!important;
}
.widefat, .widefatbox{
    border: 1px solid #ccc!important;
    border-top: none!important;
}
.widefat td, .widefat th{
    text-align: center;
    vertical-align: middle;
}
.widefatbox{
    background-color: white;
    padding: 15px;
}
.widefatbox td{
    height: 35px;
    vertical-align: middle;
}
.widefatbox hr{
    margin: 20px 0;
}
.bandetwi td:nth-child(2n-1){
    font-weight: bold;
}
.bandetwi td{
    font-size: 17px;
}
.small-wrap{
    width: 668px;
}
.visitor{
    border: 1px solid #ccc;
    border-top: 0;
}